@import url(Fonts/digital-7.ttf);
@font-face{
    font-family: 'digital';
    src: url(Fonts/digital-7.ttf);
    }
* {
    box-sizing: border-box;
}

body{
    
    padding: 0;
    margin: 0;
}

main{background-color: hsl(0, 50%, 62%);
    background-size: cover;
    height: 1000px;
    background-position: 110%;
    padding: 0;
    margin: 0;
}


.contenedor{
    position: relative;
    top: 100px;
    align-self: center;
}


h1{
    text-align: center;
    margin: 0;
    font-size: 4vw;
}

#reloj{
    font-family:'digital';
    font-size: 15vw;
    padding: 50px;
    text-align: center;


}